# Ficha de trabalho 1
1 - Considera o ficheiro **notas.csv** com a classificação de algumas disciplinas do curso de bioinformática.
Importa os dados para um objeto do tipo pandas.DataFrame

In [114]:
import pandas as pd
import numpy as np
#Load CSV
df = pd.read_csv('notas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                10 non-null     object
 1   Laboratórios        8 non-null      float64
 2    Alg. Avançados     9 non-null      float64
 3    Biologia Sistemas  9 non-null      float64
dtypes: float64(3), object(1)
memory usage: 448.0+ bytes

2 - Ordena a informação pela ordem alfabética dos nomes.

In [115]:
df.sort_values('Nome', ascending=True)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas
5   Carina          19.0             18.0                20.0
1    Carla          17.0             16.0                 NaN
7  Joaquim           NaN             15.0                12.0
4     José          14.0             17.0                12.0
0     João          12.0             16.0                17.0
3    Pedro          16.0              NaN                18.0
8  Ricardo          15.0             15.0                14.0
2    Sónia           NaN             18.0                18.0
6    Telma          16.0             14.0                12.0
9    Vanda          16.0             15.0                18.0

3 - Calcula a média de cada uma das disciplinas.

In [116]:
df['Laboratórios'].mean()

15.625

In [117]:
df[' Alg. Avançados'].mean()

16.0

In [118]:
df[' Biologia Sistemas'].mean()

15.666666666666666

4 - Seleciona o nome dos alunos com classificação igual ou superior 16 na disciplina de Laboratórios.

In [119]:
df.loc[df['Laboratórios']>=16.0]['Nome']

1     Carla
3     Pedro
5    Carina
6     Telma
9     Vanda
Name: Nome, dtype: object

5 - Cria uma nova coluna com a média de cada um dos alunos nas 3 disciplinas.

In [120]:
numeric_cols = df.select_dtypes(include='float64').columns
df['Média'] = df[numeric_cols].mean(axis=1, skipna=True)
df

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas      Média
0     João          12.0             16.0                17.0  15.000000
1    Carla          17.0             16.0                 NaN  16.500000
2    Sónia           NaN             18.0                18.0  18.000000
3    Pedro          16.0              NaN                18.0  17.000000
4     José          14.0             17.0                12.0  14.333333
5   Carina          19.0             18.0                20.0  19.000000
6    Telma          16.0             14.0                12.0  14.000000
7  Joaquim           NaN             15.0                12.0  13.500000
8  Ricardo          15.0             15.0                14.0  14.666667
9    Vanda          16.0             15.0                18.0  16.333333

6 - Considera a seguinte informação adicional.
```python
Sexo = ['M','F','F','M','M','F','F','M','M','F']
Idade = [23,21,25,21,22,23,21,20,27,21]
```
Constroi um novo DataFrame (df2) com a informação adicional dos alunos.

In [121]:
df2 = pd.DataFrame().assign(Sexo=['M','F','F','M','M','F','F','M','M','F'], Idade=[23,21,25,21,22,23,21,20,27,21])
df2

  Sexo  Idade
0    M     23
1    F     21
2    F     25
3    M     21
4    M     22
5    F     23
6    F     21
7    M     20
8    M     27
9    F     21

7 - Compila a informação presente nos dois DataFrames (df e df2) num único DataFrame.

In [122]:
merged_df = pd.concat([df, df2], axis=1)
merged_df

,Nome,Laboratórios,Alg. Avançados,Biologia Sistemas,Média,Sexo,Idade
0,João,12.0,16.0,17.0,15.000000,M,23
1,Carla,17.0,16.0,NaN,16.500000,F,21
2,Sónia,NaN,18.0,18.0,18.000000,F,25
3,Pedro,16.0,NaN,18.0,17.000000,M,21
4,José,14.0,17.0,12.0,14.333333,M,22
5,Carina,19.0,18.0,20.0,19.000000,F,23
6,Telma,16.0,14.0,12.0,14.000000,F,21
7,Joaquim,NaN,15.0,12.0,13.500000,M,20
8,Ricardo,15.0,15.0,14.0,14.666667,M,27
9,Vanda,16.0,15.0,18.0,16.333333,F,21

8 - A média da notas das raparigas é mais alta, em comparação com a dos rapazes, na disciplina de Biologia Sistemas?

In [123]:
grouped = merged_df.groupby('Sexo')
mean_bs = grouped[' Biologia Sistemas'].mean()
print("F: "+str(mean_bs.loc['F']))
print("M: "+str(mean_bs.loc['M']))
print(mean_bs.loc['F'] > mean_bs.loc['M'])

F: 17.0
M: 14.6
True

9 - Remove do DataFrame os alunos que têm disciplinas em atraso. Coloca o resultado em df3. Os alunos com disciplinas em atraso têm valor omisso nessa coluna.

In [124]:
df3 = merged_df.dropna()
df3

,Nome,Laboratórios,Alg. Avançados,Biologia Sistemas,Média,Sexo,Idade
0,João,12.0,16.0,17.0,15.000000,M,23
4,José,14.0,17.0,12.0,14.333333,M,22
5,Carina,19.0,18.0,20.0,19.000000,F,23
6,Telma,16.0,14.0,12.0,14.000000,F,21
8,Ricardo,15.0,15.0,14.0,14.666667,M,27
9,Vanda,16.0,15.0,18.0,16.333333,F,21

10 - Cria uma tabela pivot que apresente a média das notas de Laboratórios agrupada por idades para ambos os sexos.

In [125]:
pivot_table = df3.pivot_table(values='Laboratórios', index='Idade', aggfunc='mean')
pivot_table

       Laboratórios
Idade
21             16.0
22             14.0
23             15.5
27             15.0

11 - Adiciona uma nova coluna que indique se o aluno tem bolsa de Mérito ou não. Para ter bolsa de Mérito o aluno não pode ter disciplinas em atraso e média tem que ser superior a 17 valores. Explora a função **apply**.

In [126]:
merged_df['Mérito'] = merged_df.apply(lambda x: not any(pd.isna(x[1:4])) and x['Média'] >= 17, axis=1)
merged_df

,Nome,Laboratórios,Alg. Avançados,Biologia Sistemas,Média,Sexo,Idade,Mérito
0,João,12.0,16.0,17.0,15.000000,M,23,False
1,Carla,17.0,16.0,NaN,16.500000,F,21,False
2,Sónia,NaN,18.0,18.0,18.000000,F,25,False
3,Pedro,16.0,NaN,18.0,17.000000,M,21,False
4,José,14.0,17.0,12.0,14.333333,M,22,False
5,Carina,19.0,18.0,20.0,19.000000,F,23,True
6,Telma,16.0,14.0,12.0,14.000000,F,21,False
7,Joaquim,NaN,15.0,12.0,13.500000,M,20,False
8,Ricardo,15.0,15.0,14.0,14.666667,M,27,False
9,Vanda,16.0,15.0,18.0,16.333333,F,21,False